DB_USER=user
DB_PASSWORD=password
DB_NAME=delivery_db
DATABASE_URL=postgres://user:password@db:5432/delivery_db?sslmode=disable
DB_URL_LOCAL=postgres://user:password@localhost:5432/delivery_db?sslmode=disable

LOG_LEVEL=debug
GRAFANA_ADMIN_PASSWORD=admin_secret_password

S3_KEY_ID=your_access_key_id_here
S3_SECRET_KEY=your_secret_access_key_here
S3_BUCKET_NAME=nancats-bucket
S3_REGION=ru-central1

YOOKASSA_SHOP_ID=your_shop_id_here
YOOKASSA_SECRET_KEY=your_api_key_here
YOOKASSA_RETURN_URL=http://localhost:3000/profile/wallet
