# Бинарные файлы (скомпилированные)
bin/
foodcourt
main
*.exe
*.exe~
*.dll
*.so
*.dylib
app

# Зависимости
vendor/

# Переменные окружения и секреты
.env
.env.*
!.env.example
docker-compose.local.yml

# Локальный докер
docker-compose.local.yml

# Файлы IDE
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Логи и временные файлы
.tmp_pids/
*.log
tmp/

# Данные
uploads/
postgres_data/

# Тестовое покрытие
coverage.out
coverage.html
coverage_clean.out
coverage*.out
